#item-img {
    max-width: 90%;
    max-height: 90%;
    height: 270px;
    width: 270px;
    border-radius: 15%;
  }

  .product-card {
    max-width: 370px;
    max-height: 405px;
    height: 405px;
    border-radius: 15%;
    overflow: hidden;
    position: relative;
    padding: 10px 10px;
    background-color: white;
  }

  h1 {
    padding-bottom: 70px;
    padding-top: 0px;
    text-decoration: none;
    font-weight: lighter;

  }

  .product-button {
    background-color: rgba(236, 160, 20, 0.889);
    color: white;
    padding: 1px 1px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .product-button:hover {
    background-color: rgba(236, 160, 20, 0.889);;
  }

  .product-button-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2px;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use full viewport height to center vertically */
  }

  .typing-effect {
    font-size: 2em;
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    width: 7ch; /* Adjust the width to fit your text */
    animation: typing 2s steps(10) infinite;
    color: rgba(236, 160, 20, 0.889)
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 1000px;
  }


  .quantity-button{
    display: block;
    background-color: rgba(236, 160, 20, 0.889);
    color: white;
    padding: 2px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
    width: 170px;
    height: 37px;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns children (including buttons) on the cross axis */
    /* ... other styles ... */
  }
