

.create-item-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px 0; /* This adds padding at the top and bottom */
  min-height: calc(100vh - 100px); /* Adjusted for the padding */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.create-item-container {
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  max-width: 400px; /* Set a max-width for larger screens */
  margin: auto; /* This will add margin on top and bottom automatically */
}

  .create-item-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .create-item-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* This adds space between form fields */
}

.create-item-form input[type="text"],
.create-item-form input[type="number"],
.create-item-form input[type="file"],
.create-item-form select,
.create-item-form .image-input .inner-input {
    width: 100%; /* Full width of the form */
    padding: 15px; /* Bigger padding for larger touch area */
    margin-bottom: 10px; /* Add some space below each input */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Larger font size for better readability */
}

.create-item-form label {
  align-self: flex-start; /* Align labels to the start of the flex container */
}

  .image-input {
    margin-bottom: 20px;
  }

  .image-input .h4-text {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .image-input .inner-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .error-message {
    color: red;
    font-size: 14px;
    align-self: flex-start; /* Align error messages to the start */
    margin-top: -10px; /* Pull error message closer to the label */
    margin-bottom: 10px; /* Add some space below error message */
}

  .item-submit {
    background-color: rgba(236, 160, 20, 0.889);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }

  .item-submit:hover {
    background-color: rgba(236, 160, 20, 0.889);
  }

  .hidden {
    display: none;
  }

  .create-item-form .item-submit {
    padding: 15px 20px;
    font-size: 18px; /* Larger font size for the submit button */
    background-color: rgba(236, 160, 20, 0.889);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.create-item-form .item-submit:hover {
  background-color: rgba(236, 160, 20, 0.889);/
}

.error-placeholder2 {
  visibility: hidden;
  height: 18px; /* Or the height of your typical error message */
  display: block; /* Ensure it takes up space even when empty */
}
