.your-product-container {
    text-align: center;
    padding: 20px;
    margin: 0 150px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .product-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: center;
    margin: 0 50px
  }
