.categories-button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .categories-button i {
    margin-right: 5px;
    cursor: pointer;
  }


  .category-dropdown {
    position: absolute;
    width: 250px;
    left: 47.8em;
    top: 3.50em;

    background-color: white;
    border: 1px solid gray;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: normal;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  #catlink {
    margin: 18px 10px;
  }
